{{#section "script"}}
<script src="assets/js/pages/list_device.js"></script>


{{/section}}
<style>
  .single-device {
    margin-top: 20px;
  }
</style>
<!-- Content -->
<div class="content">

  <div class="page-header">
    <div>
      <h3>Danh sách thiết bị</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <div id="list-devices">

            <div class="single-device">
              <a href="#">Mẫu</a>
              <button type="button" class="btn btn-secondary btn-sm ml-2">
                <i class="ti-settings mr-2"></i>
                Xoá
              </button>
            </div>


          </div>


          <footer class="content-footer">

          </footer>
          <!-- ./ Footer -->
        </div>
      </div>

    </div>
  </div>

</div>
<!-- ./ Content -->
