<!-- begin::navigation -->
<div class="navigation">
  <div class="navigation-header">
    <span>Navigation</span>
    <a href="#">
      <i class="ti-close"></i>
    </a>
  </div>
  <div class="navigation-menu-body">
    <ul>
      <li>
        <a href="/dashboard" class="active">
          <span class="nav-link-icon">
            <i data-feather="pie-chart"></i>
          </span>
          <span>Thông Số Cảm Biến</span>
        </a>
      </li>
      {{!-- <li>
        <a href="/setting_device">
          <span class="nav-link-icon">
            <i data-feather="message-circle"></i>
          </span>
          <span>Cài Đặt Thiết Bị</span>
          {{! <span class="badge badge-danger">5</span> }}
        </a>
      </li> --}}
      <li>
        <a href="/list_device">
          <span class="nav-link-icon">
            <i data-feather="mail"></i>
          </span>
          <span>Danh Sách Thiết Bị</span>
        </a>
      </li>

    </ul>
  </div>
</div>
<!-- end::navigation -->
